export INFISICAL_ENVIRONMENT="production"
export INFISICAL_MACHINE_ID="op://Private/infisical-rawkode-academy/username"
export INFISICAL_MACHINE_SECRET="op://Private/infisical-rawkode-academy/credential"
export INFISICAL_PROJECT_ID="op://Private/infisical-rawkode-academy/projectId"
export INFISICAL_PATH="/projects/rawkode-academy/technologies-service"
