/* Light theme (Solarized Light) colors */
@define-color rosewater #cb4b16;
@define-color flamingo #dc322f;
@define-color pink #d33682;
@define-color mauve #6c71c4;
@define-color red #dc322f;
@define-color maroon #dc322f;
@define-color peach #cb4b16;
@define-color yellow #b58900;
@define-color green #859900;
@define-color teal #2aa198;
@define-color sky #268bd2;
@define-color sapphire #268bd2;
@define-color blue #268bd2;
@define-color lavender #6c71c4;
@define-color text #002b36;
@define-color subtext1 #073642;
@define-color subtext0 #586e75;
@define-color overlay2 #586e75;
@define-color overlay1 #657b83;
@define-color overlay0 #839496;
@define-color surface2 #93a1a1;
@define-color surface1 #93a1a1;
@define-color surface0 #93a1a1;
@define-color base #fdf6e3;
@define-color mantle #eee8d5;
@define-color crust #eee8d5;

@import url("style-common.css");

window#waybar {
	background-color: @base;
	color: @text;
}

#custom-notification {
	color: @subtext1;
}

#wireplumber {
	color: @subtext1;
}

#battery {
	color: @subtext1;
}