---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Backend Development</h2>
    <p>
      I prefer to work with Rust and TypeScript as much as possible, but I have
      many years experience with Elixir, Go, Python, and PHP; and if you've got
      any Pony work that needs done that would be fantastic.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="cloud" color="var(--accent-regular)" size="2.5rem" gradient />

    <h2>Cloud Native & Kubernetes</h2>
    <p>
      I have operated and managed Kubernetes clusters in production for over 6
      years, on AWS, GCP, and bare metal. Kubernetes needs a lot of work to
      become a platform and I've seen and built them all. If you're looking for
      a self-service platform delivered with GitOps, service mesh, and strong
      observability; I've got you covered.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="graduation-cap"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Education</h2>
    <p>
      After delivering 42 talks in 2019, I pivoted and ditched my airmiles for
      YouTube swag. Since then I've built the Rawkode Academy to over 250
      videos, 8k subscribers, and 350k views. These numbers aren't huge, but
      it's an extremely targeted audience of Senior and Principal level
      engineers from around the world.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
