@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    font-family: "Monaspace Neon";
    font-weight: 400;
    font-size: 12px;
}

window#waybar {
    background-color: shade(@base, 0.9);
    border: 2px solid alpha(@crust, 0.3);
    color: @text;
}

tooltip {
    background: @crust;
}

tooltip label {
    color: @teal;
}

#workspaces {
    color: transparent;
    margin-right: 4px;
    margin-left: 4px;
}

#workspaces button {
    color: @surface1;
    background: transparent;
}

#workspaces button.active {
    color: shade(@teal, 0.5);
}

#workspaces button.focused {
    color: @teal;
}

#workspaces button.urgent {
    color: @rosewater;
}

#workspaces button:hover {
    color: @flamingo;
    background: transparent;
}

#tray {
    margin-left: 8px;
    margin-right: 8px;
}

#wireplumber {
    margin-left: 8px;
    margin-right: 8px;
}

#tray > .needs-attention {
    border-bottom: 3px solid @rose;
}

#tray > widget {
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#tray > widget:hover {
    background: @rose;
}

#clock {
    background: @rose;
    padding-right: 8px;
    padding-left: 8px;
}
