(
	// Unlimited
	max_notifications: 0,
	timeout: 10000, // 10 sec timeout
	poll_interval: 16,  // 16ms ~= 60hz / 7ms ~= 144hz.
	idle_threshold: 300, // 600 sec = 10 min

	history_length: 10,
	replacing_resets_timeout: true,
	closing_enabled: false,
	unpause_on_input: true,

	debug: false,
	debug_color: Color(r: 0.0, g: 1.0, b: 0.0, a: 1.0),
	debug_color_alt: Color(r: 1.0, g: 0.0, b: 0.0, a: 1.0),

	layout_blocks: [
			(
					name: "root",
					parent: "",
					offset: Vec2(x: -22.0, y: 52.0),
					hook: Hook(parent_anchor: TR, self_anchor: TR),
					// https://github.com/Toqozz/wired-notify/wiki/NotificationBlock
					params: NotificationBlock((
							monitor: 0,
							border_width: 1.0,
							border_rounding: 6.0,
							gap: Vec2(x: 0.0, y: 10.0),
							background_color: Color(hex: "#181825"),
							border_color: Color(hex: "#b4befe"),
							border_color_low: Color(hex: "#6c7086"),
							border_color_critical: Color(hex: "#fab387"),
							notification_hook: Hook(parent_anchor: BR, self_anchor: TR),
					)),
			),
			(
					name: "summary",
					parent: "root",
					offset: Vec2(x: 0, y: 0),
					hook: Hook(parent_anchor: TL, self_anchor: TR),
					// https://github.com/Toqozz/wired-notify/wiki/TextBlock
					params: TextBlock((
							text: "%s",
							font: "Iosevka Nerd Font 11",
							ellipsize: End,
							color: Color(hex: "#cdd6f4"),
							padding: Padding(left: 12.0, right: 12.0, top: 12.0, bottom: 12.0),
							dimensions: (
									width: (min: 0, max: 200),
									height: (min: 0, max: 0)
							),
					)),
			),
			(
					name: "body",
					parent: "summary",
					offset: Vec2(x: 0, y: 0),
					render_criteria: [ Body ],
					hook: Hook(parent_anchor: BL, self_anchor: TL),
					// https://github.com/Toqozz/wired-notify/wiki/ScrollingTextBlock
					params: ScrollingTextBlock((
							text: "%b",
							font: "Iosevka Nerd Font 9",
							color: Color(hex: "#a6adc8"),
							padding: Padding(left: 12.0, right: 12.0, top: 0.0, bottom: 12.0),
							width: (min: 0, max: 300),
							scroll_speed: 0.1,
							lhs_dist: 24.0,
							rhs_dist: 24.0,
							scroll_t: 1.0,
					)),
			),
			(
					name: "image-app",
					parent: "summary",
					offset: Vec2(x: 0, y: 0),
					render_criteria: [ Body, HintImage ],
					hook: Hook(parent_anchor: TL, self_anchor: TR),
						// https://github.com/Toqozz/wired-notify/wiki/ImageBlock
					params: ImageBlock((
							image_type: Hint,
							padding: Padding(left: 12.0, right: 0.0, top: 12.0, bottom: 12.0),
							rounding: 4.0,
							scale_width: 48,
							scale_height: 48,
							filter_mode: Lanczos3,
					)),
			),
			(
					name: "image-system",
					parent: "summary",
					offset: Vec2(x: 0, y: 0),
					render_criteria: [ AppImage ],
					hook: Hook(parent_anchor: ML, self_anchor: MR),
						// https://github.com/Toqozz/wired-notify/wiki/ImageBlock
					params: ImageBlock((
							image_type: App,
							padding: Padding(left: 12.0, right: 0.0, top: 12.0, bottom: 12.0),
							rounding: 4.0,
							scale_width: 24,
							scale_height: 24,
							filter_mode: Lanczos3,
					)),
			),
	],

	// https://github.com/Toqozz/wired-notify/wiki/Shortcuts
	shortcuts: ShortcutsConfig (
			notification_interact: 1,
			notification_close: 2,
			notification_action1: 3,
	),
)
