* {
	font-family: "Monaspace Neon", "MonaspiceNe Nerd Font";
	font-weight: 400;
	font-size: 12px;
}

tooltip {
	background: @crust;
}

tooltip label {
	color: @teal;
}

#workspaces {
	margin-left: 1em;
}

#workspaces button {
	color: @subtext0;
	background: transparent;
	font-size: 18px;
	padding: 0 4px;
	margin: 0 2px;
}

#workspaces button.active {
	color: @teal;
}

#workspaces button.focused {
	color: @lavender;
}

#workspaces button.urgent {
	color: @rosewater;
}

#workspaces button:hover {
	color: @flamingo;
}

#custom-notification {
	margin-right: 1em;
	font-size: 18px;
}

#backlight {
	margin-right: 1em;
	font-size: 20px;
	color: @text;
}

#wireplumber {
	margin-right: 1em;
	font-size: 20px;
}

#battery {
	margin-right: 1em;
	font-size: 24px;
}

#tray {
	margin-right: 2em;
}

#tray > .needs-attention {
	border-bottom: 3px solid @rose;
}

#tray > widget {
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#tray > widget:hover {
	background: @rose;
}

/* Battery and wireplumber states */
#battery.charging,
#battery.plugged {
	color: @green;
}

#battery.warning {
	color: @yellow;
}

#battery.critical {
	color: @red;
}

#wireplumber.muted {
	color: @overlay0;
}