export ROCKO_AUTH_TOKEN="rawkodeIsHere!"

export OPENAI_API_KEY="op://Employee/OpenAI/api-keys/rocko"
export GOOGLE_API_KEY="op://Employee/Google Gemini/automation/rocko"
export GOOGLE_GENERATIVE_AI_API_KEY="${GOOGLE_API_KEY}"

export CLOUDFLARE_WORKER_NAME="rocko"
export CLOUDFLARE_ACCOUNT_ID="op://Employee/Cloudflare/api-tokens/account-id"
export CLOUDFLARE_API_TOKEN="op://Employee/Cloudflare/api-tokens/all-access"
export CLOUDFLARE_D1_DATABASE_ID="a070e808-f84c-48d4-beaa-1ac089fb10d9"
export CLOUDFLARE_D1_DATABASE_NAME="rocko"
export CLOUDFLARE_D1_BINDING="D1Database"
export CLOUDFLARE_D1_TABLE_PREFIX="rocko_"
export CLOUDFLARE_COMPATIBILITY_DATE="2026-03-11"
export CLOUDFLARE_ZONE_NAME="rawkode.academy"

export ROCKO_PUBLIC_URL="https://rocko.rawkode.academy"
