@import "catppuccin.css";
* {
	font-family: Monaspace Neon;
	font-size: 16px;
	min-height: 0;
}

tooltip {
	background: @base;
	border: 1px solid @blue;
}

tooltip label {
	color: @text;
}

#waybar {
	background: transparent;
	color: @text;
	margin: 5px 5px;
}

#workspaces {
	border-radius: 1rem;
	margin: 5px;
	background-color: @base;
	margin-left: 0.5rem;
}

#workspaces button {
	color: @lavender;
	border-radius: 1rem;
	padding: 0.5rem 0.9rem;
}

#workspaces button.active {
	color: @sky;
}

#workspaces button:hover {
	color: @mauve;
}

#idle_inhibitor {
	border-radius: 1rem 0px 0px 1rem;
}

#idle_inhibitor.activated {
	color: @text;
}

#idle_inhibitor.deactivated {
	color: @sky;
}

#clock {
	border-radius: 0px 1rem 1rem 0px;
	color: @blue;
}

#tray {
	margin-right: 1rem;
	border-radius: 1rem;
}

#idle_inhibitor,
#clock,
#tray,
#wireplumber,
#pulseaudio,
#network,
#bluetooth,
#backlight,
#power-profiles-daemon,
#temperature,
#battery,
#custom-session {
	background-color: @base;
	padding: 0.5rem 0.9rem;
	margin: 5px 0;
}

#wireplumber {
	color: @mauve;
	border-radius: 1rem 0px 0px 1rem;
	margin-left: 1rem;
}

#pulseaudio {
	color: @mauve;
}

#network {
	color: @sapphire;
}

#bluetooth {
	color: @blue;
}

#pulseaudio,
#network,
#bluetooth,
#backlight,
#power-profiles-daemon,
#temperature,
#battery {
	border-radius: 0;
}

#backlight {
	color: @yellow;
}

#power-profiles-daemon {
	color: @teal;
}

#temperature {
	color: @maroon;
}

#temperature.critical {
	color: @red;
}

#battery {
	color: @green;
	border-radius: 0px 1rem 1rem 0px;
	margin-right: 1rem;
}

#battery.charging {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
}

#custom-session {
	margin-right: 0.5rem;
	border-radius: 1rem 1rem 1rem 1rem;
	color: @red;
}
